<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44373" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.112\DotnetTools\dotnet-watch\6.0.112-servicing.22578.6\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\community\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="5ea4254b-cd86-441e-917a-085085a3b50f" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:54657/LaserCuttingAndEngravingServices/" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA17nOmRAxwKwVvzqwXobMCh1sb6O74bSOGyyooCXOj9eGS3SNEuXOobfGZd98F+QsU6j+5bgxWAc2+GLUkHW+Y/xj0aYH9gpkRaDfike2+X15piZRWK1eByrpw7Rnmwm70gFmUMnM+RnLEbZEZAHbJlJw8jVSyu9r2EFNWECSY8TrJyZmYjW/xqPgoKuzXA6MAaVkJgknwmwMHOOBjUzLLkV46iMAXnQAfrGQrvDUyYKRaqm/WBk/85MWLxaEnFwhl2KT1MhuSgOD5t085n5RuDXC5/IOJboDfmwYZrdUxeisPdp5M4wCYcVy3CbVOFPugp6Luf03oH1Dt1Q87ncWPQIDAQAB" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>