
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>

        <h1>Custom Jobs</h1>
        <p>We accept the following file types:  *.CDR, *.SVG</p>
        <input type="file" value="Upload File"/>

    </div>

