
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Panel Tags</h1>


<div class="vector-edit">
</div>

<div id="dvSVGContainer">
    <svg id="svg" width="550" height="350">

        <div id="tbdiv" class="text-edit">
            <div id="tbdivheader">MOVE</div>
            <div class="editable">
                <span class="editable" contenteditable="true" id="txt">Charles</span>                
            </div>
        </div>
    </svg>
</div>

<!--<div class="editable">
    <span class="editable" contenteditable="true">abcde</span>
</div>-->

<div>
    <input type="button" id="btnExportSVG" value="Export SVG" />
</div>

@section Scripts{
    <script src="~/js/vectoreditor/underscore.js"></script>
    <script src="~/js/jquery/jquery.autosize.min.js"></script>
    <script src="~/js/vectoreditor/vectoreditor.js"></script>
    <script src="~/js/vectoreditor/texteditor.js"></script>
    <script>
        vectorEditor.createRectangle(0, 0, 400, 200, "rgb(255, 0, 0)", "rgb(0, 0, 0)");
        vectorEditor.centerTextEditor();
        $("#btnExportSVG").click(function () {
            vectorEditor.exportSVG();
        });
        // vectorEditor.init(document.getElementById("svg"));
        //console.log(vector);
        //document.getElementById("my-button").addEventListener("click", alert('test'), false);

        function changeColor(evt) {
            window.alert(evt.target.ownerDocument);
        };




    </script>

}

