
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Panel Tags</h1>


<div class="vector-edit">
</div>

<svg id="svg" width="550" height="350" style="border: .5px solid black;">

    <div id="tbdiv" class="text-edit">
        <div id="tbdivheader">MOVE</div>
        <textarea style="border-style: dotted; background: transparent; font-size: 18px;" id="txt" type="text" cols="12" rows="1">Charles</textarea>

    </div>
</svg>

<div>
    <input type="button" id="btnExportSVG" value="Export SVG" />
</div>

@section Scripts{
    <script src="~/js/vectoreditor/underscore.js"></script>
    <script src="~/js/jquery.autosize.min.js</script>
    <script src="~/js/vectoreditor/vectoreditor.js"></script>
    <script src="~/js/vectoreditor/texteditor.js"></script>
    <script>
        vectorEditor.createRectangle(0, 0, 400, 200, "rgb(255, 0, 0)", "rgb(0, 0, 0)");
        $("#btnExportSVG").click(function () {
            vectorEditor.exportSVG();
        });
        // vectorEditor.init(document.getElementById("svg"));
        //console.log(vector);
        //document.getElementById("my-button").addEventListener("click", alert('test'), false);

        function changeColor(evt) {
            window.alert(evt.target.ownerDocument);
        };




    </script>

}

