
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Panel Tags</h1>


<div class="vector-edit">
</div>

<div id="dvSVGContainer">
    <svg id="svg" width="550" height="350">

        <div id="tbdiv" class="text-edit">
            <div id="tbdivheader"><img src="~/img/move-cursor.svg" style="width:20px; height: 20px" /></div>
            <div class="editable">
                <span class="editable" contenteditable="true" id="txt">Charles</span>
            </div>
            <table style="width: 100%">
                <tr>
                    <td id="divLeftAlign"><img src="~/img/left-alignment.svg" class="text-alignment" /></td>
                    <td id="divCenterAlign"><img src="~/img/center-alignment.svg" class="text-alignment" /></td>
                    <td id="divRightAlign"><img src="~/img/right-alignment.svg" class="text-alignment"/></td>
                </tr>
            </table>
        </div>
    </svg>
</div>

<div>
    <input type="button" id="btnExportSVG" value="Export SVG" />
</div>

@section Scripts{
    <script src="~/js/vectoreditor/underscore.js"></script>
    <script src="~/js/jquery/jquery.autosize.min.js"></script>
    <script src="~/js/vectoreditor/vectoreditor.js"></script>
    <script src="~/js/vectoreditor/texteditor.js"></script>
    <script>
        vectorEditor.createRectangle(0, 0, 400, 200, "rgb(255, 0, 0)", "rgb(0, 0, 0)");
        vectorEditor.centerTextEditor();
        $("#btnExportSVG").click(function () {
            window.location.href = "/Cart/AddToCart?productId=2&returnUrl=../PanelTags"
            //vectorEditor.exportSVG();
        });
        // vectorEditor.init(document.getElementById("svg"));
        //console.log(vector);
        //document.getElementById("my-button").addEventListener("click", alert('test'), false);

        function changeColor(evt) {
            window.alert(evt.target.ownerDocument);
        };




    </script>

}

